<div class="select-model-container" *ngIf="!carLoaded">
    <!--
    <button class="modern-button" (click)="loadCar('assets/gtr.glb')">
        Nissan Gtr
    </button>
    -->

    <button class="modern-button" (click)="loadCar('assets/porsche_4s.glb')">
        Porsche 4s
    </button>

    <button class="modern-button" (click)="loadCar('assets/porsche_930_Turbo_small.glb')">
        Porsche 930 Turbo
    </button>
</div>

<div class="error-container" *ngIf="error">
    <h2>
        Sorry your device is not supported
    </h2>
</div>

<div class="select-model-container" *ngIf="loading && !error">
    <div id="boxes">
        <div class="box gray"></div>
        <div class="box cyan"></div>
        <div class="box orange"></div>
        <div class="box white"></div>
    </div> 
</div>

<div class="fps">{{fps}} FPS</div>
<canvas #canvas></canvas>
<!--<button class="enterbutton" (click)="enterXR()">Enter</button>-->